body{
    height: 100%;
    overflow-y: scroll;
    /* background-color: rgb(153, 153, 153); */
    font-family: 'Shadows Into Light', cursive;
    /* font-family: 'Chewy', cursive; */
    /* font-family: 'Staatliches', cursive; */
}
body::-webkit-scrollbar {
    display: none;
}

header{
    height: fit-content;
    text-align: center;
    font-size: 40px;
    background: linear-gradient(90deg, rgba(204,56,49,1) 75%, rgba(222,222,222,1) 98%);
    text-shadow: 2px 2px rgb(53, 53, 53);
    /* -webkit-text-stroke: 1px black; */
    -webkit-text-fill-color: white;
    font-family: 'Do Hyeon', sans-serif;
    /* font-family: 'Kirang Haerang', cursive; */
    /* font-family: 'Shadows Into Light', cursive; */
    /* font-family: 'Staatliches', cursive; */
    border-bottom: 5px solid black;
}

footer{
    width: 100%;
    height: fit-content;
    padding: 2px;
    text-align: center;
    font-size: 20px;
    background-color: rgba(204,56,49,1);
    text-shadow: 2px 2px rgb(53, 53, 53);
    /* -webkit-text-stroke: 1px black; */
    -webkit-text-fill-color: white;
    /* font-family: 'Do Hyeon', sans-serif; */
    font-family: 'Kirang Haerang', cursive;
    /* font-family: 'Shadows Into Light', cursive; */
    /* font-family: 'Staatliches', cursive; */
    border-top: 5px solid black;
}

.is-card{
    border: 2px solid darkgray;
    border-radius: 5px;
    margin: 0px 50px;
}

.card-image{
    width: 40%;
    padding: 10px;
    border-right: 2px solid grey;
    margin: auto;
}
.image{
    width:100%;
}

hr{
    margin-top: 0px;
    margin-bottom: 0px;
}

.onload-search-bar{
    width:85%;
    margin: auto;
}

#container-1, .panel{
    height:100%;
}

#content, #display{
    height: 100vh;
    background-color: rgb(238, 238, 238);
}

.dropdown button{
    padding: 0px;
    border: none;
    text-align: end;
}

.panel{
    overflow-y: scroll;
    border: 2px solid darkgray;
}

.panel::-webkit-scrollbar {
    display: none;
}

.searchItem-img{
    height: 80px;
    width: 80px;
}


#infoCard{
    font-size: 30vh;
}

#sprite{
    height:80px; 
    width:80px;
}

img {font-size: 10%;}
#poke-name{font-size: 30%;}
#poke-element{font-size:15%;}
#flavor-text{font-size:10%;}

article[class="panel"]{
    font-size: 10vh;
}

#panel-heading{font-size:40%;}
#navbar{font-size:25%;}
.sidebar-pokename{font-size: 60%;}
#search-2{
    padding: 2%;
    font-size: 30%;
}

#loading-icon button{
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    border: none;
}

.image{
    background-color: rgb(218, 218, 218);
    padding:5%;
}

figcaption{
    font-size: 8%;
}

.panel [class="invalid"]{
    font-size: 30%;
}

.panel-block{
    padding: .25em 0.75em;
}