*{
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Chewy', cursive;
    /* font-family: 'Staatliches', cursive; */
}
header{
    text-align: center;
    font-size: 32px;
    background: linear-gradient(90deg, rgba(235,59,51,1) 75%, rgba(222,222,222,1) 98%);
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: white;
    font-family: 'Shadows Into Light', cursive;
    /* font-family: 'Staatliches', cursive; */
    border-bottom: 2px solid black;
}
.poke_red{
    background-color: #eb3b33;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2px;
    text-align: center;
    font-size: 24px;
    background-color: #eb3b33;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
    font-family: 'Staatliches', cursive;
    border-top: 2px solid black;
}